.hero-section {
  min-height: 90vh;
  padding-top: 100px;
}

.tracking-tighter {
  letter-spacing: -3px;
  line-height: 0.9;
}

.text-outline {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

h1 {
  font-size: clamp(3rem, 10vw, 8rem);
}

.tracking-widest {
  letter-spacing: 3px;
}

.btn-primary {
  background-color: #fff;
  color: #000;
  border: none;
}

.btn-primary:hover {
  background-color: var(--bs-primary);
  color: #fff;
}

.btn-outline-light {
  border-width: 2px;
}
